@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!string.IsNullOrEmpty(ViewBag.UserName))
    {
        <h2>@Html.Encode(ViewBag.UserName)</h2>
    }
    else
    {
        <h2>Guest</h2>
    }
    <p>
        UserName from Query string - @ViewData["role"]
    </p>

    <p>
        From Session -  @ViewData["UserName"]
    </p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
